@charset "utf-8";
*{
margin:0;
padding:0;
font-family:微软雅黑
}
body{
	min-width:1200px;
	font-size:12px;
	overflow-x:hidden;
	background: #EEE;
	min-height: 150vh;

}
table,td,tr,ul,ol,li,dl,dd,dt,p,input,form,em,p,img,h1,h2,h3,h4,h5{
	margin:0;
	padding:0
}
h1{
	color:#232323
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p,span{
	font-size:12px
}
p{
	color:#686868
}
ul{
	list-style:none
}
.cursor{
	cursor:pointer
}
.clear{
	font-size:0;
	line-height:0;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.l{
float:left
}
.r{
	float:right
}
.tl{
	text-align:left
}
.tc{
	text-align:center
}
.tr{
	text-align:right
}
img{
	border:0
}
a{
	text-decoration:none;
	color:#686868
}
.gy{
	width:1200px;
	margin:0 auto;
	overflow:hidden
}
a:hover{
	text-decoration:none;
	color:#f3782a
}
.top-blank{
	height:125px;
	overflow:hidden;
	background:0 0
}
.top-head{
	height:132px;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
	background:0 0
}
.shadow{
	width:100%;
	height:7px;
	font-size:0;
	overflow:hidden;
	background:url(../images/nav_shadow.png) repeat-x
}
.top01{
	width:100%;
	height:30px;
	line-height:30px;
	background:#1f2229;
	color:#f3782a;
	overflow:hidden
}
.top01_center{
	text-align:left;
	float:right;
}
.top01_center img{
	float:left;
	margin-top:3px
}
.top02{
	height:95px;
	width:100%
}
.logo{
	width:180px;
	float:left;
	padding-top:20px
}
.nav{
	text-align: right;
	width:1000px;
	box-sizing: border-box;
	padding-left: 20px;
	float:left;
}
#m_user{
	position: relative;
	float: right;
}
#m_user:hover .after{
	content: "";
	-o-transform: scaleX(0.5);
	-ms-transform: scaleX(0.5);
	-moz-transform: scaleX(0.5);
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	display: inline-block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #686868;
	position: absolute;
	right: 2px;
	bottom: 25px;
	transform: translateY(2px);
}
#m_user:hover .after{
	border-top-color: #f3782a;
}
.nav ul{
	width:100%;
}
.nav ul::after{
    content: "";
    display: block;
    clear: both;
}
.nav li{
	width:86px;
	margin:0 5px 0 6px;
	float:left;
	text-align:center
}
.nav a{
	width:86px;
	height:42px;
	padding-top:50px;
	display:block;
	font-size:1.33em
}
.nav li a:after{
	content:"";
	display:block;
	position:absolute;
	left:50%;
	right:50%;
	bottom:-3px;
	height:3px;
	opacity:0;
	background-color:#dc6103;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	-ms-transition:all .5s;
	transition:all .5s
}
.nav li a:hover:after{
left:1%;
right:1%;
opacity:1;
-webkit-transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
transition:all .5s
}
.nav a#sel{
	border-bottom:3px solid #f3782a;
	color:#f3782a
}
.nav a#sel:hover:after{
	opacity:0
}
.nav .sub{
	display:none;
	width:100%;
	padding:0;
	position:fixed;
	top:125px;
	overflow:hidden;
	text-align:left;
	z-index:110;
	left:0;
	background-color:#f5f5f5
}
.nav .sub .nav_xiao{
	width:1200px;
	overflow:hidden;
	padding-top:5px;
	margin:0 auto;
	padding-bottom:50px
}
.nav .sub .nav_xiao .xiao_one{
	width:760px;
	float:right;
	overflow:hidden
}
.nav .sub .nav_xiao .xiao_one a{
	float:left;
	display:inline;
	height:28px;
	line-height:28px;
	width:108px;
	margin-right:12px;
	overflow:hidden;
	border-bottom:1px solid #d3d2d2;
	color:#313030;
	background:url(../images/201603/nav_dian.jpg) left center no-repeat;
	padding:0;
	padding-left:15px;
	margin-top:13px;
	font-size:12px;
	font-family:宋体
}
.nav .sub .nav_xiao .xiao_one a:hover{
	color:#f3782a
}
.nav .sub .nav_xiao .xiao_two{
	margin-top:28px;
	width:760px;
	float:right
}
.nav .sub .nav_xiao .xiao_two img{
	float:left;
	margin-right:25px
}
.nav .sub .nav_xiao .xiao_two .nav_div{
	float:left;
	width:380px;
	padding-top:30px;
	font-size:12px;
	color:#666;
	line-height:22px
}
.nav .sub .nav_xiao .xiao_two .nav_div h2{
	font-size:16px;
	color:#f3782a;
	font-weight:400;
	letter-spacing:1px;
	line-height:36px
}
.nav .sub .nav_xiao .xiao_three{
	width:760px;
	float:right;
	overflow:hidden
}
.nav .sub .nav_xiao .xiao_three ul{
	width:790px
}
.nav .sub .nav_xiao .xiao_three ul li{
	float:left;
	display:inline;
	width:172px;
	height:190px;
	overflow:hidden;
	margin-right:19px;
	text-align:center;
	position:inherit;
	line-height:46px;
	margin-left:0
}
.nav .sub .nav_xiao .xiao_three ul li img{
	width:100%;
	height:138px;
	display:block
}
.nav .sub .nav_xiao .xiao_three ul li a{
	color:#686868;
	width:100%;
	font-size:14px;
	height:100%;
	padding-top:17px
}
.nav .sub .nav_xiao .xiao_three ul li a:hover{
	color:#f3782a
}
.nav .sub .nav_xiao .xiao_three ul li:hover img{
	opacity:.8;
	filter:alpha(opacity=80)
}
.nav .sub .nav_xiao .xiao_three ul.nav_wechat li{
	width:195px
}
.nav .sub .nav_xiao .xiao_three ul.nav_wechat li img{
	width:195px;
	height:138px
}
.nav .sub .nav_xiao .xiao_four{
	width:512px;
	overflow:hidden;
	margin-right:25px;
	margin-left:55px
}
.nav .sub .nav_xiao .xiao_four h2{
	font-size:18px;
	font-weight:400;
	color:#333;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #b3b3b3;
	letter-spacing:3px;
	margin-top:10px
}
.nav .sub .nav_xiao .xiao_four .ul{
	width:590px
}
.nav .sub .nav_xiao .xiao_four .ul li{
	height:42px;
	line-height:42px;
	margin-right:80px;
	padding-right:10px;
	width:205px;
	overflow:hidden;
	float:left;
	display:inline;
	background:url(../images/nav_dian2.png) right center no-repeat;
	margin-left:0;
	position:inherit
}
.nav .sub .nav_xiao .xiao_four .ul li a{
	padding:0;
	width:205px;
	text-align:left
}
.nav .sub .nav_xiao .xiao_five{
	width:680px;
	overflow:hidden;
	float:left;
	margin-top:15px;
	margin-left:50px
}
.nav .sub .nav_xiao .xiao_five img{
	width:280px;
	height:212px
}
.nav .sub .nav_xiao .xiao_five a{
	width:280px;
	height:212px;
	padding:0;
	margin-right:45px;
	float:left
}
.nav .sub .nav_xiao .xiao_five2{
	float:right;
	margin-right:20px;
	text-align:left;
	width:445px;
	margin-top:15px
}
.nav .sub .nav_xiao .xiao_five2 p{
	border-bottom:1px solid #d9d9d9;
	box-shadow:none;
	font-size:14px;
	padding:10px 0
}
.nav .sub .nav_xiao .xiao_five2 p a{
	text-align:left;
	width:200px;
	display:inline-block;
	padding-top:0;
	height:auto;
	padding:5px 0;
	font-size:14px
}
.nav .sub .nav_xiao .xiao_six_l{
	float:left;
	width:140px;
	margin-left:70px;
	overflow:hidden;
	margin-top:35px
}
.nav .sub .nav_xiao .xiao_six_l a{
	display:block;
	height:46px;
	line-height:46px;
	font-size:16px;
	color:#333;
	padding-left:20px;
	background:url(../images/yuming_pic9.png) left center no-repeat;
	padding-top:0
}
.nav .sub .nav_xiao .xiao_six_l a.osel{
	background:url(../images/yuming_pic9_on.png) left center no-repeat;
	color:#f3782a
}
.nav .sub .nav_xiao .xiao_six_r{
	float:left;
	width:990px;
	overflow:hidden;
	text-align:center
}
.nav .sub .nav_xiao .xiao_six_r img{
	display:block;
	margin:0 auto;
	margin-bottom:32px;
	transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s
}
.nav .sub .nav_xiao .xiao_six_r a{
	float:left;
	width:140px;
	height:auto;
	border-left:1px solid #e2e3e3;
	padding-top:0;
	margin-top:50px
}
.nav .sub .nav_xiao .xiao_six_r a:hover img{
	margin-top:-4px;
	margin-bottom:36px
}

#user_nav{
	margin: 0 auto;
	width: 1180px;
	text-align: right;
	
}
#user_nav a{
	display: inline-block;
	line-height: 32px;
	font-size: 14px;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
	width: 86px;

}